.login{
    width: 350px;
    border: #CCC solid 1px;
    background: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 2px 7px rgba(0,0,0,0.1);
}

.login h1{
    font-size: 28px;
    color: rgb(28, 86, 119);
    text-align: center;
}

.error{
    color: rgb(212, 37, 37);
    text-align: center;
}

.signUp{
    width: 500px;
    border: #CCC solid 1px;
    background: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 2px 7px rgba(0,0,0,0.1);
}

.signUp h1{
    font-size: 28px;
    color: rgb(28, 86, 119);
    text-align: center;
}

body{
	background-color: #f1c40f;
	-webkit-animation: color 5s ease-in  0s infinite alternate running;
	-moz-animation: color 5s linear  0s infinite alternate running;
	animation: color 5s linear  0s infinite alternate running;
}

@-webkit-keyframes color {
    0% { background-color: #e9d37e; }
    32% { background-color: #f08377; }
    55% { background-color: #c17bdd; }
    76% { background-color: #55d8be; }
    100% { background-color: #85f5b4; }
}
@-moz-keyframes color {
    0% { background-color: #e9d37e; }
    32% { background-color: #f08377; }
    55% { background-color: #c17bdd; }
    76% { background-color: #55d8be; }
    100% { background-color: #85f5b4; }
}
@keyframes color {
    0% { background-color: #e9d37e; }
    32% { background-color: #f08377; }
    55% { background-color: #c17bdd; }
    76% { background-color: #55d8be; }
    100% { background-color: #85f5b4; }
}