body{
	background-color: #f1c40f;
	-webkit-animation: color 5s ease-in  0s infinite alternate running;
	-moz-animation: color 5s linear  0s infinite alternate running;
	animation: color 5s linear  0s infinite alternate running;
}

@-webkit-keyframes color {
    0% { background-color: #e9d37e; }
    32% { background-color: #f08377; }
    55% { background-color: #c17bdd; }
    76% { background-color: #55d8be; }
    100% { background-color: #85f5b4; }
}
@-moz-keyframes color {
    0% { background-color: #e9d37e; }
    32% { background-color: #f08377; }
    55% { background-color: #c17bdd; }
    76% { background-color: #55d8be; }
    100% { background-color: #85f5b4; }
}
@keyframes color {
    0% { background-color: #e9d37e; }
    32% { background-color: #f08377; }
    55% { background-color: #c17bdd; }
    76% { background-color: #55d8be; }
    100% { background-color: #85f5b4; }
}

.login{
    max-width: 350px;
    position: absolute;
    border: #fff solid 1px;
    background: #f9f9f9;
    padding: 20px;
    margin: 3em auto;
}

.login h1{
    color: rgb(28, 86, 119);
    text-align: center;
}

#captcha{
    width: 100% !important;
}
.error{
    color: rgb(212, 37, 37);
    text-align: center;
}

.signUp{
    max-width: 500px;
    border: #CCC solid 1px;
    background: #f9f9f9;
    padding: 1em;
    margin: 2em auto;
}

.signUp h1{
    color: rgb(28, 86, 119);
    text-align: center;
}